<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | charmander</title>
    <link rel="shortcut icon" href="../img/charmander.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: antiquewhite;
        }
        
        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            background-color: red;
            border-radius: 5px;
        }
        
        #enlace {
            text-align: center;
        }
    </style>

</head>

<body style="font-family: 'Zen Kaku Gothic Antique', sans-serif">
    <h1>Charmander</h1>
    <img src="../img/charmander.png" alt="charmander" style="width: 25%;">
    <p>tipo: <span style="background-color: orange;padding: 2px;border-radius: 5px;">fuego</span></p>
    <p>Descripción:</p>
    <p>Prefiere las cosas calientes. Dicen que cuando llueve le sale vapor de la punta de la cola.</p>
    <p id="enlace"><a href="../index.html">Volver a inicio</a></p>
</body>

</html>