<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | squirtle</title>
    <link rel="shortcut icon" href="../img/squirtle.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: aquamarine;
        }
        
        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            background-color: red;
            border-radius: 5px;
        }
        
        #enlace {
            text-align: center;
        }
    </style>
</head>

<body style="font-family: 'Zen Kaku Gothic Antique', sans-serif">
    <h1>Squirtle</h1>
    <img src="../img/squirtle.png" alt="Squirtle" width="25%">
    <p>tipo: <span style="background-color: blue;padding: 2px;border-radius: 5px">agua</span></p>
    <p>Descripción:</p>
    <p>Cuando retrae su largo cuello en el caparazón, dispara agua a una presión increíble.</p>
    <p id="enlace"><a href="../index.html">Volver a inicio</a></p>
</body>

</html>